.footer {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
}

.icon {
    color: var(--white);
    margin: 0 0.2rem;
    text-decoration: none;
}